.label {
    display: flex;
    flex-direction: column;
  
    text-transform: capitalize;
    font-weight: 700;
    color: #babecc;
  
    margin-bottom: 8px;
    text-align: center;
  }
  
  .input {
    margin-top: 4px;
    padding: 4px;
    border: 1px solid #babecc;
    border-radius: 6px;
  
    color: #367af6;
  
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }