.title {
    display: flex;
    flex-direction: column;
    padding: 5px 40px;
    border: 2px solid #0000000f;
  }
  input {
    width: 300px;
    padding: 10px 15px;
    border: 2px solid #06a0d3;
    border-radius: 5px;
  }
  .input:focus {
    outline: 1px solid #06a0d3;
  }